.local_courselist_menu {
    width: 100%;
}

.local_courselist_menu .local_courselist_selection {
    display: inline-table;
    margin: 0 5px;
}

.local_courselist_description {
    margin: 8px 0;
}

.local_courselist_check_uncheck_all {
    margin-left: 4px;
}

.local_courselist_files_actions {
    margin-top: 25px;
}

.local_courselist_files_action {
    margin-top: 10px;
}

.local_courselist_table .c0 {
    padding-left: 2px;
    padding-right: 0;
}

.local_courselist_file_expired img {
    width: 12px;
    height: auto;
    margin-left: -2px;
}

.local_courselist_table .local_courselist_filecheckbox {
    margin: 0;
}

.local_courselist_study-box {
    display: inline-block;
	/*height: 12rem;*/ /*GH: 20250211*/
    padding: 0px; /*GH: 20250120*/
    background-color: #fff;
    border: 1px solid #dee2e6; /*GH: 20240612*/
    border-radius: .5rem;  /*GH: 20240612*/
    font-family: Arial, sans-serif;
    font-size: .9375rem; /*GH: 20240612*/
    font-weight: lighter;  /*GH: 20240612*/
    text-align: center;
    margin: 1px; /*GH: 20240612*/
    box-sizing: border-box;
    text-decoration: none;
    color: 0f6cbf;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.local_courselist_study-box:hover {
    background-color: #f0f0f0;
}

.local_courselist_study-box:active {
    background-color: #ccc;
}

.local_courselist_coursebox {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.local_courselist_coursename {
    font-size: .9375rem;
    font-weight: 400;
    margin: 5px;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
.courselist-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .5rem;
}
.courselist-card-img {
    background-size:cover;
	height:6rem; /*GH: 20250211*/
}
.courselist-card-title {
    margin: 5px 15px 5px 15px; /*GH: 20250211*/
    word-break: break-all;
}